#nav-bar {
  background: #065C67;
}

#landing-page {
  height: 100vh;
  background: url("aerial-shot-of-gray-dock-on-body-of-water-697313.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-clip-path: circle(64.3% at 50% 3%);
  clip-path: circle(64.3% at 50% 3%);
}

#landing-page h1 {
  font-size: 100px;
}

@media (max-width: 990px) {
  #landing-page h1 {
    font-size: 30px;
    padding-bottom: 200px;
  }
}

#gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: sans-serif;
  margin: 40px auto;
  border: 2px solid black;
  border-radius: 15px;
  background: #065C67;
  background-size: cover;
}

#gallery h1 {
  margin: 50px auto;
  color: coral;
  font-weight: bolder;
  text-align: center;
}

.grid-container {
  -webkit-columns: 5 200px;
          columns: 5 200px;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
}

.grid-container div {
  width: 150px;
  margin: 0 1.5rem 1.5rem 0;
  display: inline-block;
  width: 100%;
  border: solid 2px black;
  padding: 5px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.grid-container div:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.grid-container div:hover {
  border-color: coral;
}

.grid-container div img {
  width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  border-radius: 5px;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.grid-container div p {
  margin: 5px 0;
  padding: 0;
  text-align: center;
  font-style: italic;
}

#footer {
  width: 100vw;
  background: white;
  border-radius: 10px;
  background: #065C67;
}

#footer .text-box {
  background: greenyellow;
  padding: 1em;
  border-radius: 10px;
  width: 80vw;
  -webkit-clip-path: circle(10% at 90% 12%);
          clip-path: circle(10% at 90% 12%);
  -webkit-transition: -webkit-clip-path .5s ease-in-out;
  transition: -webkit-clip-path .5s ease-in-out;
  transition: clip-path .5s ease-in-out;
  transition: clip-path .5s ease-in-out, -webkit-clip-path .5s ease-in-out;
}

#footer .text-box:hover {
  background: turquoise;
}

#footer .text-box span {
  float: right;
  color: white;
  font-weight: bold;
  -webkit-transition: color .5s;
  transition: color .5s;
  position: relative;
  margin-right: 4%;
}

#footer .text-box:hover span {
  color: red;
}

#footer .text-box h1 {
  text-align: center;
  color: white;
  margin: 5%;
  font-weight: bolder;
}

#footer .text-box p {
  color: white;
  font-size: .8rem;
}

#footer:hover .text-box {
  -webkit-clip-path: circle(75%);
          clip-path: circle(75%);
}
/*# sourceMappingURL=anime-style.css.map */